<nav class="navbar navbar-expand-lg navbar-light sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="../../assets/navicon.png" alt="" width="30" class="d-inline-block align-text-top">
        Garage <span id="tech">TECH</span> Forum
        </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/home" >Home</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle active" aria-current="page" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Blog</a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li>
                <a class="dropdown-item" aria-current="page" routerLink="/blog">Write a blog</a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/contact" >Contact us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/forums" >Forums</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

<!-- The routed views render in the <router-outlet>-->
<router-outlet></router-outlet>
